.LayoutRoot {
    display: flex;
    flex-direction: column;
    .LayoutTop {
        height: 64px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .AppBarContent {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between
        }
    }
    .LayoutContent {
        // flex: 8;
        // height: 1200px;
        display: flex;
        .ContentLeft {
            // flex: 1;
            // display: inline;
            width: 210px;
        }
        .ContentRight{
            // flex: 9;
            width: 100%;
            padding-left: 20px;
            background-color: #F1F2F7;
        }
    }
}