.IconContent {
    border-radius: 5px;
    background-color: white;
    width: 280px;
    height: 100px;
    display: flex;
    overflow:auto;
    .Icon {
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        
    }
    .Content {
        width: 180px;
        display: inline-block;
        align-self: center;
        color: #c6cad6;
        text-align: center;
    }
}